/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Left Section */
.left-section {
  width: 30%;
  text-align: center;
}

.left-section img {
  width: 80px;
}

.left-section h2 {
  margin-top: 10px;
}

/* Right Section */
.right-section {
  width: 60%;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: lightgray;
  margin: 0 5px;
  border-radius: 5px;
}

.tabs .active {
  background-color: #0056b3;
  color: white;
}

/* Form Styling */
form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@import "tailwindcss";